h1 {
  color: #c9c2be;
  font-family: "Vast Shadow", cursive;
  text-align: center;
}

a,
h3 {
  color: #5e6769;
  font-family: "Edu SA Beginner", cursive;
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  color: #3c4245;
  font-family: "Edu SA Beginner", cursive;
}

.App {
  background-color: #709191;
  border-radius: 10px;
  padding: 20px;
}

.Dictionary {
  font-family: "Edu SA Beginner", cursive;
}

.Phonetics {
  font-size: 18px;
}
